.construction-container {
  position: relative;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.construction-item {
  position: absolute;
  border-radius: 50%;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  border: 1px solid rgba(23, 246, 251, 0.8); /* Adjusted border thickness */
}

.item-1 {
  width: 200px; /* Adjusted width */
  height: 200px; /* Adjusted height */
  border-width: 5px; /* Adjusted border thickness */
  animation: spinBG 5s infinite linear;
}

.item-2 {
  width: 125px; /* Adjusted width */
  height: 125px; /* Adjusted height */
  border-width: 1px; /* Adjusted border thickness */
  border-style: dashed;
  animation: spinBG2 5s infinite linear;
}

.item-3 {
  width: 150px; /* Adjusted width */
  height: 150px; /* Adjusted height */
  border-width: 1px; /* Adjusted border thickness */
  animation: spinBG 5s infinite linear;
}

.item-4 {
  width: 175px; /* Adjusted width */
  height: 175px; /* Adjusted height */
  border-width: 3px; /* Adjusted border thickness */
  box-shadow: 0px 0px 15px rgba(23, 246, 251, 0.8); /* Adjusted box shadow */
  animation: spinBG3 5s infinite linear;
}

.loading-dot {
  width: 10px; /* Adjusted width */
  height: 10px; /* Adjusted height */
  border-radius: 50%;
  background-color: #17F6FBCC;
  margin: 0 6px; /* Adjusted margin */
  animation: pulse 3s infinite alternate;
}

@keyframes spinBG {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinBG2 {
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(0.8);
  }
}

@keyframes spinBG3 {
  50% {
    transform: rotate(180deg);
    box-shadow: 0px 0px 1px rgba(23, 246, 251, 0.1);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
