.skills__container {
  grid-template-columns: repeat(2, 350px);
  column-gap: 3rem;
  justify-content: center;
}

.skills__content {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
}

.skills__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.skills__group {
  display: grid;
  align-items: flex-start;
  row-gap: 1rem;
}

.skills__data {
  display: flex;
  column-gap: 0.5rem;
}

.skills svg {
  font-size: 1rem;
  color: var(--title-color);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}

.skills__level {
  font-size: var(--smaller-font-size);
}

/* BREAK POINTS */
@media screen and (max-width: 992px) {
  .skills__container {
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .skills__container {
    grid-template-columns: 1fr;
  }

  .skills__content {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  .skills__box {
    column-gap: 1.25rem;
  }

  .skills__name {
    font-size: var(--small-font-size);
  }
}

.card__design {
  background-color: #333333;
  box-shadow: 0 0 6px rgb(8, 216, 74);
}

.tooltip-container {
  position: relative;
}

.tooltip {
  visibility: hidden;
  width: 100px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  color: #00d443;
  text-shadow: 2px 2px 12px rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 15px;
  padding: 5px;
  position: absolute;
  z-index: 5;
  bottom: 0%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex; /* Add flex container for centering */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
