.experience__container {
    max-width: 1000px;
}

.experience__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--mb-2);
    text-align: center;
}

.experience__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: #a2a2a2;
    /* margin: 0 var(--mb-3); */
    margin-right: var(--mb-3);
    cursor: pointer;
}

.experience__button:hover {
    color: #33c553;
}

.experience__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.experience__active {
    color: rgba(33, 187, 71, 0.8)
}

.experience__sections {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.experience__content {
    display: none;
}

.experience__content-active {
    display: block;
}

.experience__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.experience__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: rgba(31, 160, 63, 0.994);
}

.experience__subtitle {
    display: flex;
}

.experience__calendar {
    font-size: 12px;
}

.experience__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #33c553;
    border-radius: 50%;
}

.experience__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #33c553;
    transform: translate(6px, -7px);
}

/* BREAK POINTS */
@media screen and (max-width: 992px) {
    .experience__container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .experience__container {
        /* margin-left: var(--mb-1-5); */
        margin-right: var(--mb-1-5);
    }
}

@media screen and (max-width: 576px) {
    .experience__sections {
        grid-template-columns: initial;
    }

    .experience__button {
        margin: 0 var(--mb-0-75);
    }
}

@media screen and (max-width: 350px) {
    .experience__data {
        gap: 0.5rem;
    }
}